<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaesarCypher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAA1949A1E942EF500BC9FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA194AE1E942EF600BC9FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA194B91E942EF600BC9FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
